# Constant config
ABOUT_US_ID=ID_123456
DEFAULT_PASSWORD=123456
PORT=3000

# Cloudiary Config
CLOUDIARY_API_KEY=
CLOUDIARY_API_SECRET=
CLOUDIARY_CLOUD_NAME=

# Database Config (Postgres)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?schema=public

# JWT Config
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10m
JWT_ACCESS_TOKEN_SECRET=Im_Batman
JWT_REFRESH_TOKEN_EXPIRATION_TIME=30d

# Openai key get from: https://platform.openai.com/api-keys
CHATBOX_API_KEY=
CHATBOX_ORGANIZATION_ID=
