<h1>ABOUT US</h1>
<form method="POST" action="/admin/about/submit">
    <textarea id="aboutUs_content" name="content"><%= message %></textarea>
    <button style="margin-top: 10px;" class="btn btn-primary" type="submit">Submit</button>
</form>