<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div
      class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
    >
      <ul
        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
        id="menu"
      >
      <li class="nav-item">
        <a href="/admin/dashboard" class="nav-link align-middle px-0">
          <i class="bi bi-bar-chart-fill" style=" font-size: 22px;"></i>
          <span class="ms-1 d-none d-sm-inline">Thống kê</span>
        </a>
      </li>
        <li class="nav-item">
          <a href="/admin/category" class="nav-link align-middle px-0">
            <i class="bi bi-card-list" style=" font-size: 22px;"></i>
            <span class="ms-1 d-none d-sm-inline">Danh mục</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/author" class="nav-link align-middle px-0">
            <i class="bi bi-file-person-fill" style=" font-size: 22px;"></i>
            <span class="ms-1 d-none d-sm-inline">Tác giả</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/book" class="nav-link align-middle px-0">
            <i class="fs-4 bi-box"></i>
            <span class="ms-1 d-none d-sm-inline">Sách</span>
          </a>
        </li>
        <li>
          <a href="/admin/promotion/list" class="nav-link px-0 align-middle">
            <i class="bi bi-calendar-heart" style="font-size: 22px;"></i>
            <span class="ms-1 d-none d-sm-inline">Giảm giá</span>
          </a>
        </li>
        <li>
          <a href="/admin/user" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Khách hàng</span>
          </a>
        </li>
        <li>
          <a href="/admin/order" class="nav-link px-0 align-middle">
            <i class="bi bi-receipt" style="font-size: 22px;"></i>
            <span class="ms-1 d-none d-sm-inline">Đơn hàng</span>
          </a>
        </li>
      </ul>
    </div>
  </div>